<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {{#unless values.s}}active{{/unless}}" data-toggle="tab" href="#info">Info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#if values.s}}active{{/if}}" data-toggle="tab" href="#search"><svg width="1em" height="1em"
                viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                <path fill-rule="evenodd"
                    d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
            </svg> Search</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane {{#unless values.s}}active{{/unless}}" id="info" role="tabpanel">

        <dl class="row mt-3">
            <dt class="col-sm-3">Status</dt>
            <dd class="col-sm-9"> <span
                    class="badge badge-{{audit.display.status.type}}">{{audit.display.status.title}}</span>
            </dd>

            <dt class="col-sm-3">User</dt>
            <dd class="col-sm-9">{{audit.display.name}} <small class="text-muted">– {{audit.display.username}}</small>
            </dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">{{audit.display.address}}</dd>

            <dt class="col-sm-3">Applicable time period</dt>
            <dd class="col-sm-9">From <span class="timestr"
                    title="{{audit.display.start}}">{{audit.display.start}}</span> to
                <span class="timestr" title="{{audit.display.end}}">{{audit.display.end}}</span>
            </dd>

            <dt class="col-sm-3">Emails processed</dt>
            <dd class="col-sm-9">{{audit.audited}}</dd>
        </dl>

    </div>
    <div class="tab-pane {{#if values.s}}active{{/if}}" id="search" role="tabpanel">
        <div class="mt-3 mb-3">
            <form method="get" action="/audits/audit/{{audit._id}}">
                <input type="hidden" id="daterangeStart" name="start" value="{{values.start}}">
                <input type="hidden" id="daterangeEnd" name="end" value="{{values.end}}">
                <input type="hidden" name="s" value="1">

                <div class="form-group row">
                    <label for="from" class="col-sm-2 col-form-label">Sender</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="from" name="from" value="{{ values.from }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="from" class="col-sm-2 col-form-label">Recipient</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="to" name="to" value="{{ values.to }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="subject" class="col-sm-2 col-form-label">Subject</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="subject" name="subject"
                            value="{{ values.subject }}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="daterange" class="col-sm-2 col-form-label">Date</label>

                    <div class="col-sm-10">
                        <div class="input-group input-daterange">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                        class="bi bi-calendar-week" fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z" />
                                        <path fill-rule="evenodd"
                                            d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z" />
                                        <path
                                            d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                                    </svg></span>

                            </div>

                            <input class="form-control daterange {{#if errors.daterange}}is-invalid{{/if}}" type="text"
                                id="daterange" data-start-target="daterangeStart" data-end-target="daterangeEnd" {{#if
                                values.start }} data-start="{{ values.start }}" {{/if}} {{#if values.end }}
                                data-end="{{ values.end }}" {{/if}}
                                value="{{#if values.start }}{{values.start}}{{/if}}{{#if values.start }}{{#if values.end }} - {{/if}}{{/if}}{{#if values.end }}{{values.end}}{{/if}}"
                                autocomplete="off" />
                        </div>

                        {{#if errors.daterange}}
                        <div class="invalid-feedback">
                            {{errors.daterange}}
                        </div>
                        {{/if}}
                    </div>
                </div>

                <div class="d-flex">
                    <div class="ml-auto">
                        <a href="/audits/audit/{{audit._id}}" class="btn btn-light">Clear</a>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<hr>

<nav class="nav nav-pills" aria-label="Page navigation">
    <div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cloud-download" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z" />
                    <path fill-rule="evenodd"
                        d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z" />
                </svg> Download
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item toggle-selected-link disabled" href="#" tabindex="-1">Selected</a>
                <a class="dropdown-item matching-selected-link {{#unless values.s}}disabled{{/unless}}" href="#"
                    {{#unless values.s}}tabindex="-1" {{/unless}}>Matching</a>
                <a class="dropdown-item all-selected-link" href="#">All</a>
            </div>
        </div>
    </div>

    <div class="ml-auto nav-link">Page {{listing.page}} of {{listing.pages}}</div>
    <ul class="pagination">
        {{#if previousPage}}
        <li class="page-item">
            <a class="page-link" href="{{previousPage}}"><svg width="1em" height="1em" viewBox="0 0 16 16"
                    class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path fill-rule="evenodd"
                        d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z" />
                    <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z" />
                </svg></a>
        </li>
        {{else}}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><svg width="1em" height="1em"
                    viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path fill-rule="evenodd"
                        d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z" />
                    <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z" />
                </svg></a>
        </li>
        {{/if}}

        {{#if nextPage}}
        <li class="page-item">
            <a class="page-link" href="{{nextPage}}"><svg width="1em" height="1em" viewBox="0 0 16 16"
                    class="bi bi-arrow-right-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path fill-rule="evenodd"
                        d="M7.646 11.354a.5.5 0 0 1 0-.708L10.293 8 7.646 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z" />
                    <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
                </svg></a>
        </li>
        {{else}}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><svg width="1em" height="1em"
                    viewBox="0 0 16 16" class="bi bi-arrow-right-circle" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path fill-rule="evenodd"
                        d="M7.646 11.354a.5.5 0 0 1 0-.708L10.293 8 7.646 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z" />
                    <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
                </svg></a>
        </li>
        {{/if}}
    </ul>

</nav>

<div class="table-responsive">
    <table class="table table-hover table-sm email-table">
        <thead>
            <tr>
                <th scope="col" class="email-check-row">
                    <input type="checkbox" id="checkAll">
                </th>
                <th scope="col" class="email-from-cell">From</th>
                <th scope="col" class="email-to-cell">To</th>
                <th scope="col" class="email-subject-cell"><small class="text-muted"
                        style="display: inline-block;width: 20px; margin-right: 0.3rem;"></small>Subject</th>
                <th scope="col" class="email-date-cell text-right">Date</th>
            </tr>
        </thead>
        <tbody>
            {{#each listing.data}}
            <tr>
                <td class="email-check-row">
                    <input type="checkbox" class="checkMessage" data-message="{{_id}}" />
                </td>

                <td class="email-table-cell email-from-cell">
                    <a href="{{url}}" class="email-list-a">
                        {{#if display.fromShort}}
                        <span title="{{display.fromShort.name}} &lt;{{display.fromShort.address}}&gt;"
                            data-toggle="tooltip" data-placement="left">{{display.fromShort.address}}</span>
                        {{/if}}
                    </a>
                </td>

                <td class="email-table-cell email-to-cell">
                    <a href="{{url}}" class="email-list-a">
                        {{#if display.toShort}}
                        <span title="{{display.toShort.name}} &lt;{{display.toShort.address}}&gt;" data-toggle="tooltip"
                            data-placement="left">{{display.toShort.display}}</span>
                        {{/if}}
                    </a>
                </td>

                <td class="email-table-cell email-subject-cell">

                    <a href="{{url}}" class="email-list-a" title="{{display.subject}}">
                        <small class="text-muted" style="display: inline-block;width: 20px;">
                            {{#if display.attachments}}
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-paperclip"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z" />
                            </svg>
                            {{/if}}
                        </small>

                        {{display.subject}}
                        <span class="text-muted">
                            {{#if display.subject}}
                            –
                            {{/if}}
                            {{metadata.msgid}}
                        </span>

                    </a>
                </td>

                <td class="email-table-cell text-right email-date-cell">
                    <a href="{{url}}" class="email-list-a">
                        <span class="datetimestr" title="{{display.date}}" data-toggle="tooltip"
                            data-placement="left"></span>
                    </a>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>

<div class="modal fade" id="downloadMessagesModal" tabindex="-1" role="dialog" aria-labelledby="downloadMessagesLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="downloadMessagesLabel">Download messages</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Downloaded messages are
                    bundled into a single ZIP file. Depending on the selection size message download might take a lot of
                    time.</p>
            </div>
            <div class="modal-footer">
                <form action="/audits/audit/{{audit._id}}/download" id="download-form" method="post">
                    {{ csrf_token }}
                    <input type="hidden" id="messagelist" name="messages" value="" />

                    <input type="hidden" name="start" value="{{values.start}}">
                    <input type="hidden" name="end" value="{{values.end}}">
                    <input type="hidden" name="from" value="{{ values.from }}">
                    <input type="hidden" name="to" value="{{ values.to }}">
                    <input type="hidden" name="subject" value="{{ values.subject }}">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"><svg width="1em" height="1em" viewBox="0 0 16 16"
                            class="bi bi-cloud-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z" />
                            <path fill-rule="evenodd"
                                d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z" />
                        </svg> Download</button>
                </form>
            </div>
        </div>
    </div>
</div>