<nav aria-label='breadcrumb'>
    <ol class='breadcrumb'>
        <li class='breadcrumb-item active' aria-current='page'>Accounts</li>
    </ol>
</nav>

{{#if auditName}}
<h5 class="mb-3">{{auditName}}</h5>
{{/if}}

<div class='table-responsive'>
    <table class='table table-hover table-striped'>
        <thead>
            <tr>
                <th scope='col'>Status</th>
                <th scope='col'>Name</th>
                <th scope='col'>Username</th>
                <th scope='col'>Address</th>
                <th scope='col' colspan='2'>Emails processed</th>
            </tr>
        </thead>
        <tbody>
            {{#each auditList}}
            <tr>
                <td style='vertical-align: middle;'>
                    <span class='badge badge-{{display.status.type}}'>{{display.status.title}}</span>
                </td>
                <td style='vertical-align: middle;'>
                    {{display.name}}
                </td>
                <td style='vertical-align: middle;'>
                    {{display.username}}
                </td>
                <td style='vertical-align: middle;'>
                    {{display.address}}
                </td>
                <td style='vertical-align: middle;'>
                    {{audited}}
                </td>
                <td style='vertical-align: middle; text-align: right'>
                    <a href='/audits/audit/{{_id}}' class='btn btn-primary btn-sm' title='Go to audit details'
                        data-toggle='tooltip' data-placement='left'>
                        <svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-arrow-right-square'
                            fill='currentColor' xmlns='http://www.w3.org/2000/svg'>
                            <path fill-rule='evenodd'
                                d='M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z'>
                            </path>
                            <path fill-rule='evenodd'
                                d='M7.646 11.354a.5.5 0 0 1 0-.708L10.293 8 7.646 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z'>
                            </path>
                            <path fill-rule='evenodd' d='M4.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z'>
                            </path>
                        </svg>
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>