<dl class="row mt-3">
    <dt class="col-sm-3">Status</dt>
    <dd class="col-sm-9"> <span class="badge badge-{{audit.display.status.type}}">{{audit.display.status.title}}</span>
    </dd>

    <dt class="col-sm-3">User</dt>
    <dd class="col-sm-9">{{audit.display.name}} <small class="text-muted">– {{audit.display.username}}</small></dd>

    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">{{audit.display.address}}</dd>

    <dt class="col-sm-3">Applicable time period</dt>
    <dd class="col-sm-9">From <span class="timestr" title="{{audit.display.start}}">{{audit.display.start}}</span> to
        <span class="timestr" title="{{audit.display.end}}">{{audit.display.end}}</span></dd>

    <dt class="col-sm-3">Emails processed</dt>
    <dd class="col-sm-9">{{audit.audited}}</dd>
</dl>